// Variaveis usadas no meu Sass
$cor-padrao: darken(#c24e4b, 20%);
$cor-auxiliar:#1e2c35;
$cor-branca: #ffffff;
$raio: 0.3em;
$raio-grande: 50px;
$ponto-quebra: 980px;

$mq-mobile: "(max-width: 980px)";

$tamanho-fonte-padrao: 16px;